#create_thread_container
    = form_for [@board, @board_thread, @new_post] do |f|
        %span.title Create new post

        %span
            = f.label :name, 'Name'
            = f.text_field :name, :id => 'thread_name', :value => ''

        %span
            = f.label :email, 'Email'
            = f.text_field :email, :id => 'thread_email'

        %span
            = f.label :topic, 'Topic'
            = f.text_field :topic, :id => 'thread_topic'

        %span
            = f.label :text, 'Text'
            = f.text_area :text, :id => 'thread_text', :rows => '10', :cols => '35'

        = f.hidden_field :board_thread_id

        %span.submit
            %button{:type => 'submit'} Create

%hr

#thread_list
    .thread
        -#other posts
        -@board_thread.posts.each do |post|
            .thread_post
                .post_title
                    %span{:class => :post_topic}= post.topic
                    %span= post.name
                    %span= post.creation_date
                    %span= "##{post.post_number}"
                .post_contents
                    %p= post.text
            .post_delimiter
    %hr
