#create_thread_container
    %form{:action => '#'}
        %span.title Create new thread

        %span
            %label{:for => 'thread_name'} Name:
            %input#thread_name{:type => 'text'}

        %span
            %label{:for => 'thread_email'} Email:
            %input#thread_email{:type => 'text'}

        %span
            %label{:for => 'thread_topic'} Topic:
            %input#thread_topic{:type => 'text'}

        %span
            %label{:for => 'thread_text'} Text:
            %textarea#thread_text{:rows => '10', :cols => '35'}

        %span.submit
            %button{:type => 'submit'} Create

%hr

#thread_list
    - @board.board_threads.each do |thread|
        .thread
            - thread.posts.each do |post|
                .thread_post
                    .post_title
                        %span= post.topic
                        %span= post.name
                        %span= post.creation_date
                        %span= post.post_number
                        %span
                            [
                            %a{:href => 'thread.html'} Reply
                            ]
                    .post_contents
                        %p= post.text
                    - if thread.posts.first == post
                        .post_footer 54 posts and 44 image replies omitted. Click Reply to view.
                .post_delimiter
